n8n-workflow-webhook-sprinthub.json
{
  "name": "Webhook SprintHub → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-oportunidade-sprint",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "webhook-oportunidade-sprint"
    },
    {
      "parameters": {
        "jsCode": "// Adicionar wrapper p_payload ao body recebido\n// O n8n webhook envia body dentro de um objeto maior\nconst webhookData = $input.item.json;\nconst body = webhookData.body || webhookData;\n\n// Garantir que o ID seja número se vier como string\nif (body && body.id && typeof body.id === 'string') {\n  body.id = parseInt(body.id, 10);\n}\n\n// ============================================================================\n// MAPEAMENTO DINÂMICO DE FUNIS BASEADO NO CAMPO DE ENTRADA\n// ============================================================================\nconst ENTRADA_FUNIS_CONFIG = {\n  'entrada_compra': {\n    crm_column: 130,\n    funil_id: 6,\n    funil_nome: '[1] COMERCIAL APUCARANA'\n  },\n  'entrada_ativacao': {\n    crm_column: 314,\n    funil_id: 33,\n    funil_nome: '[1] ATIVAÇÃO COMERCIAL'\n  },\n  'entrada_monitoramento': {\n    crm_column: 353,\n    funil_id: 41,\n    funil_nome: '[1] MONITORAMENTO COMERCIAL'\n  },\n  'entrada_reativacao': {\n    crm_column: 333,\n    funil_id: 38,\n    funil_nome: '[1] REATIVAÇÃO COMERCIAL'\n  },\n  'entrada_recompra': {\n    crm_column: 202,\n    funil_id: 14,\n    funil_nome: '[1] RECOMPRA APUCARANA'\n  }\n};\n\n// ============================================================================\n// MAPEAMENTO DINÂMICO DE FUNIS BASEADO NO CAMPO DE ORÇAMENTO/NEGOCIAÇÃO\n// ============================================================================\nconst ORCAMENTO_FUNIS_CONFIG = {\n  'orcamento_compra': {\n    campo_negociacao: 'negociacao_compra',\n    crm_column_orcamento: 207,\n    crm_column_negociacao: 83,\n    funil_id: 6,\n    funil_nome: '[1] COMERCIAL APUCARANA'\n  },\n  'orcamento_recompra': {\n    campo_negociacao: 'negociacao_recompra',\n    crm_column_orcamento: 206,\n    crm_column_negociacao: 203,\n    funil_id: 14,\n    funil_nome: '[1] RECOMPRA APUCARANA'\n  },\n  'orcamento_ativacao': {\n    campo_negociacao: 'negociacao_ativacao',\n    crm_column_orcamento: 316,\n    crm_column_negociacao: 318,\n    funil_id: 33,\n    funil_nome: '[1] ATIVAÇÃO COMERCIAL'\n  },\n  'orcamento_monitoramento': {\n    campo_negociacao: 'negociacao_monitoramento',\n    crm_column_orcamento: 356,\n    crm_column_negociacao: 357,\n    funil_id: 41,\n    funil_nome: '[1] MONITORAMENTO COMERCIAL'\n  },\n  'orcamento_reativacao': {\n    campo_negociacao: 'negociacao_reativacao',\n    crm_column_orcamento: 336,\n    crm_column_negociacao: 337,\n    funil_id: 38,\n    funil_nome: '[1] REATIVAÇÃO COMERCIAL'\n  }\n};\n\n// ============================================================================\n// LÓGICA DE IDENTIFICAÇÃO: ORÇAMENTO OU ENTRADA\n// ============================================================================\n\n// 1. PRIMEIRO: Verificar se é um webhook de ORÇAMENTO/NEGOCIAÇÃO\nlet funilConfig = null;\nlet tipoWebhook = null; // 'orcamento' ou 'entrada'\n\n// Verificar campos de orçamento (tem prioridade se ambos existirem)\nfor (const [campoOrcamento, config] of Object.entries(ORCAMENTO_FUNIS_CONFIG)) {\n  const campoNegociacao = config.campo_negociacao;\n  \n  const temOrcamento = body[campoOrcamento] && body[campoOrcamento] !== '' && body[campoOrcamento] !== null;\n  const temNegociacao = body[campoNegociacao] && body[campoNegociacao] !== '' && body[campoNegociacao] !== null;\n  \n  if (temOrcamento || temNegociacao) {\n    funilConfig = config;\n    tipoWebhook = 'orcamento';\n    \n    // Determinar qual etapa usar (Orçamento ou Negociação)\n    // Usar a data mais antiga, ou a que estiver preenchida\n    let dataOrcamento = null;\n    let dataNegociacao = null;\n    \n    if (temOrcamento) {\n      dataOrcamento = new Date(body[campoOrcamento]);\n    }\n    if (temNegociacao) {\n      dataNegociacao = new Date(body[campoNegociacao]);\n    }\n    \n    // Se ambas existem, usar a mais antiga\n    if (dataOrcamento && dataNegociacao) {\n      body.crm_column = dataOrcamento <= dataNegociacao ? config.crm_column_orcamento : config.crm_column_negociacao;\n    } else if (dataOrcamento) {\n      body.crm_column = config.crm_column_orcamento;\n    } else if (dataNegociacao) {\n      // Se passou direto para negociação, usar etapa de negociação\n      body.crm_column = config.crm_column_negociacao;\n    }\n    \n    break; // Primeiro funil encontrado ganha\n  }\n}\n\n// 2. SEGUNDO: Se não encontrou orçamento, verificar campos de ENTRADA\nif (!funilConfig) {\n  for (const [campo, config] of Object.entries(ENTRADA_FUNIS_CONFIG)) {\n    if (body[campo] && body[campo] !== '' && body[campo] !== null) {\n      funilConfig = config;\n      tipoWebhook = 'entrada';\n      body.crm_column = config.crm_column;\n      break;\n    }\n  }\n}\n\n// 3. Aplicar configuração do funil\nif (funilConfig) {\n  // Adicionar funil_id e funil_nome se não existirem\n  if (!body.funil_id) {\n    body.funil_id = funilConfig.funil_id;\n  }\n  if (!body.funil_nome) {\n    body.funil_nome = funilConfig.funil_nome;\n  }\n} else {\n  // Fallback: se não identificou, usar COMPRA (130) como padrão\n  body.crm_column = body.crm_column || 130;\n  body.funil_id = body.funil_id || 6;\n  body.funil_nome = body.funil_nome || '[1] COMERCIAL APUCARANA';\n}\n\nreturn {\n  json: {\n    p_payload: body\n  }\n};"
      },
      "id": "add-wrapper",
      "name": "Adicionar Wrapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agdffspstbxeqhqtltvb.supabase.co/rest/v1/rpc/webhook_upsert_oportunidade_sprint",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTM2NjYsImV4cCI6MjA2NjAyOTY2Nn0.2fIu5l80OQ5HRsYk7xgjLgct51bV7eYCFWzYdhI4wxs"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTM2NjYsImV4cCI6MjA2NjAyOTY2Nn0.2fIu5l80OQ5HRsYk7xgjLgct51bV7eYCFWzYdhI4wxs"
            },
            {
              "name": "Accept-Profile",
              "value": "api"
            },
            {
              "name": "Content-Profile",
              "value": "api"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "call-supabase",
      "name": "Chamar Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Verificar Erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 400,
        "options": {}
      },
      "id": "respond-error",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 480]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Adicionar Wrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Wrapper": {
      "main": [
        [
          {
            "node": "Chamar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Supabase": {
      "main": [
        [
          {
            "node": "Verificar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Erro": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T00:00:00.000Z",
  "versionId": "1"
}

