n8n-workflow-gerar-checkout-final.json
{
  "name": "Gerar Checkout Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-pagina-precheckout",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook pagina precheckout",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-896, 112],
      "id": "5ca67ab0-ab1f-4bcf-9770-8d9610755684",
      "webhookId": "05b5f78b-0076-4c33-b6ab-cf69b28464a5"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://agdffspstbxeqhqtltvb.supabase.co/rest/v1/pre_checkout?link_pre_checkout=eq.{{ $json.linkId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTM2NjYsImV4cCI6MjA2NjAyOTY2Nn0.2fIu5l80OQ5HRsYk7xgjLgct51bV7eYCFWzYdhI4wxs"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTM2NjYsImV4cCI6MjA2NjAyOTY2Nn0.2fIu5l80OQ5HRsYk7xgjLgct51bV7eYCFWzYdhI4wxs"
            },
            {
              "name": "Accept-Profile",
              "value": "api"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "name": "Buscar Pre-Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-624, 112],
      "id": "buscar-precheckout-001"
    },
    {
      "parameters": {
        "jsCode": "// Recebe: linkId e formulasSelecionadas do webhook\n// E os dados do pre_checkout do Supabase\nconst webhookData = $('Webhook pagina precheckout').item.json;\nconst preCheckoutData = $('Buscar Pre-Checkout').item.json[0] || $('Buscar Pre-Checkout').item.json;\n\nif (!preCheckoutData) {\n  throw new Error('Pré-checkout não encontrado no Supabase');\n}\n\n// Fórmulas selecionadas (vem do webhook ou usa as salvas)\nconst formulasSelecionadas = webhookData.formulasSelecionadas || preCheckoutData.formulas_selecionadas || [];\n\n// Calcular total das fórmulas selecionadas\nconst todasFormulas = preCheckoutData.dados_orcamento.formulas || [];\nconst formulasFiltradas = todasFormulas.filter(f => formulasSelecionadas.includes(f.numero));\n\nconst total = formulasFiltradas.reduce((sum, f) => sum + (f.valor || 0), 0);\nconst totalFormatado = Number(total.toFixed(2));\n\n// Dados para a API do Clubecerto\nconst checkoutPayload = {\n  name: preCheckoutData.nome_cliente || 'Cliente',\n  price: totalFormatado.toFixed(2),\n  composition: '',\n  hasPlan: true,\n  externalId: preCheckoutData.oportunidade_id\n};\n\nreturn {\n  json: {\n    checkoutPayload: checkoutPayload,\n    preCheckoutData: preCheckoutData,\n    formulasSelecionadas: formulasSelecionadas,\n    total: totalFormatado,\n    linkId: webhookData.linkId || preCheckoutData.link_pre_checkout\n  }\n};"
      },
      "name": "Formatar Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-384, 112],
      "id": "185a5971-7668-495a-bd8b-c15fdbc65a9c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-control.clubecerto.com.br/planos/customizado-gg/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MzMzMCwibmFtZSI6ImdnaG9sZGluZyIsInVzZXIiOiJnZ2hvbGRpbmciLCJhY3RpdmUiOjEsImNvbXBhbnlJZCI6MzMxOSwiY25waiI6IjUxLjY5My45NDIvMDAwMS0zMyIsImhlYWx0aCI6MCwiYmlydGhEYXRlIjpudWxsLCJiYW5rQWNjb3VudCI6bnVsbCwiaXNTZWxsZXIiOm51bGwsImNvbW1pc3Npb24iOm51bGwsImNvbnRyb2xSb2xlSWQiOjIsImNwZlVzZXIiOm51bGwsImVtYWlsIjpudWxsLCJwaG9uZSI6bnVsbCwiY2hlY2tvdXREYXRhIjpudWxsLCJhZGRyZXNzIjpudWxsLCJudW1iZXIiOiItIiwiY29tcGxlbWVudCI6Ii0iLCJwcm92aW5jZSI6Ii0iLCJ6aXBDb2RlIjpudWxsLCJjaXR5IjoiLSIsInN0YXRlIjoiLSIsImNvbXBhbnlfaWQiOjMzMTksImNvbnRyb2xSb2xlIjp7ImlkIjoyLCJuYW1lIjoiQWRtaW4ifSwidHlwZSI6ImNvbXBhbnkiLCJoYXNoIjoiQmladTViZWxXcSIsImlzQWRtaW5BY2Nlc3MiOnRydWUsImlhdCI6MTc2NjE1NjE2MX0.Mg06YBmCw_gfvx6ppUjwbknc65qTRra68zBioHP6-E4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.checkoutPayload }}",
        "options": {}
      },
      "name": "Criar Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 112],
      "id": "d280cdc5-1d85-4ebc-93d7-3d6ca7f11e4f"
    },
    {
      "parameters": {
        "jsCode": "// Recebe resposta da API do Clubecerto e formata para atualizar Supabase e Sprinthub\nconst checkoutResponse = $('Criar Checkout').item.json;\nconst formatarPedido = $('Formatar Pedido').item.json;\nconst preCheckoutData = formatarPedido.preCheckoutData;\n\n// Extrair link do checkout da resposta\n// A API pode retornar o link em diferentes formatos, ajustar conforme necessário\nlet checkoutUrl = '';\nlet checkoutExternalId = '';\n\nif (checkoutResponse.url) {\n  checkoutUrl = checkoutResponse.url;\n} else if (checkoutResponse.link) {\n  checkoutUrl = checkoutResponse.link;\n} else if (checkoutResponse.checkout_url) {\n  checkoutUrl = checkoutResponse.checkout_url;\n} else if (checkoutResponse.data && checkoutResponse.data.url) {\n  checkoutUrl = checkoutResponse.data.url;\n}\n\nif (checkoutResponse.id) {\n  checkoutExternalId = checkoutResponse.id.toString();\n} else if (checkoutResponse.externalId) {\n  checkoutExternalId = checkoutResponse.externalId.toString();\n} else if (checkoutResponse.data && checkoutResponse.data.id) {\n  checkoutExternalId = checkoutResponse.data.id.toString();\n}\n\n// Montar descrição das fórmulas selecionadas para Sprinthub\nconst formulasSelecionadas = formatarPedido.formulasSelecionadas || [];\nconst todasFormulas = preCheckoutData.dados_orcamento.formulas || [];\nconst formulasFiltradas = todasFormulas.filter(f => formulasSelecionadas.includes(f.numero));\n\n// Formatar descrição (similar ao formato original do orçamento)\nlet descricaoFormulas = '';\nformulasFiltradas.forEach((formula, index) => {\n  descricaoFormulas += `Fórmula nº ${formula.numero}: ${formula.quantidade || ''} | ${formula.descricao || ''}\\n`;\n  descricaoFormulas += `Valor R$ ${formula.valor.toFixed(2).replace('.', ',')}\\n\\n`;\n});\n\nreturn {\n  json: {\n    checkoutUrl: checkoutUrl,\n    checkoutExternalId: checkoutExternalId,\n    preCheckoutData: preCheckoutData,\n    formatarPedido: formatarPedido,\n    descricaoFormulas: descricaoFormulas.trim(),\n    total: formatarPedido.total\n  }\n};"
      },
      "name": "Montar Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [112, 112],
      "id": "8228c86e-0d1a-412a-95c0-0357fed37d24"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://agdffspstbxeqhqtltvb.supabase.co/rest/v1/pre_checkout?link_pre_checkout=eq.{{ $('Montar Pedido').item.json.preCheckoutData.link_pre_checkout }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTM2NjYsImV4cCI6MjA2NjAyOTY2Nn0.2fIu5l80OQ5HRsYk7xgjLgct51bV7eYCFWzYdhI4wxs"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTM2NjYsImV4cCI6MjA2NjAyOTY2Nn0.2fIu5l80OQ5HRsYk7xgjLgct51bV7eYCFWzYdhI4wxs"
            },
            {
              "name": "Accept-Profile",
              "value": "api"
            },
            {
              "name": "Content-Profile",
              "value": "api"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"checkout_url\": \"{{ $json.checkoutUrl }}\",\n  \"checkout_external_id\": \"{{ $json.checkoutExternalId }}\",\n  \"status\": \"checkout_gerado\",\n  \"checkout_gerado_at\": \"{{ $now.toISO() }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "name": "Atualizar Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [112, -128],
      "id": "03a218b4-55b5-45fb-9bc6-4f3d2285b273"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sprinthub-api-master.sprinthub.app/crmopportunity/{{ $('Montar Pedido').item.json.preCheckoutData.oportunidade_id }}?id={{ $('Montar Pedido').item.json.preCheckoutData.metadata.funil_id }}&apitoken=9ad36c85-5858-4960-9935-e73c3698dd0c&i=oficialmed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{ Number($('Montar Pedido').item.json.total).toFixed(2) }}\",\n  \"fields\": {\n    \"link-checkout\": \"{{ $('Montar Pedido').item.json.checkoutUrl }}\",\n    \"Descricao da Formula\": \"{{ $('Montar Pedido').item.json.descricaoFormulas }}\"\n  }\n}",
        "options": {}
      },
      "name": "Atualizar Sprinthub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [112, 64],
      "id": "836fb521-72bf-4864-9f0b-3c84914e7d9b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"checkout_url\": \"{{ $('Montar Pedido').item.json.checkoutUrl }}\",\n  \"message\": \"Checkout gerado com sucesso\"\n}",
        "options": {}
      },
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [176, 304],
      "id": "de5eedf4-0b59-4e69-a38d-e9e5590ca0d8"
    }
  ],
  "connections": {
    "Webhook pagina precheckout": {
      "main": [
        [
          {
            "node": "Buscar Pre-Checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pre-Checkout": {
      "main": [
        [
          {
            "node": "Formatar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Pedido": {
      "main": [
        [
          {
            "node": "Criar Checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Checkout": {
      "main": [
        [
          {
            "node": "Montar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Pedido": {
      "main": [
        [
          {
            "node": "Atualizar Sprinthub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Sprinthub": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Supabase": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "6ede2a38db4af4bb975294596b6e8f5a6b0ac38ef15701d2d67f7a78a90cf0fb"
  }
}
